<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <applicationSettings>
        <UI.Properties.Settings>
            <setting name="InterpretLogFile" serializeAs="String">
                <value>nhatky.txt</value>
            </setting>
            <setting name="MaximumQuestion" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="BlankChar" serializeAs="String">
                <value>X</value>
            </setting>
            <setting name="GroupsFile" serializeAs="String">
                <value>groups.malyst.xml</value>
            </setting>
            <setting name="DefaultDpi" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WindowCaption" serializeAs="String">
                <value>Malyst Scan</value>
            </setting>
            <setting name="KeyFileFilter" serializeAs="String">
                <value>Bộ đáp án của Malyst|*.key.xml|Tất cả các tệp|*.*</value>
            </setting>
            <setting name="LogFileFilter" serializeAs="String">
                <value>Kết quả chấm điểm của Malyst|*.log.xml|Tất cả các tệp|*.*</value>
            </setting>
            <setting name="PrintPreviewCaption" serializeAs="String">
                <value>Xem trước khi in</value>
            </setting>
            <setting name="DefaultPrintFont" serializeAs="String">
                <value>Times New Roman, 11pt</value>
            </setting>
            <setting name="ImageFileFilter" serializeAs="String">
                <value>Ảnh quét |*.tif;*.jpg;*.bmp|Tất cả các tệp|*.*</value>
            </setting>
            <setting name="RequireFillCoefficient" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="MarkTheme" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PencilThreshold" serializeAs="String">
                <value>230</value>
            </setting>
            <setting name="BlackWhiteThreshold" serializeAs="String">
                <value>160</value>
            </setting>
            <setting name="KeySymbol" serializeAs="String">
                <value>ABCD</value>
            </setting>
            <setting name="SuiteFile" serializeAs="String">
                <value>suites.malyst.xml</value>
            </setting>
            <setting name="ColorHilight" serializeAs="String">
                <value>GradientActiveCaption</value>
            </setting>
            <setting name="PreprocessFolder" serializeAs="String">
                <value>\Malyst Data</value>
            </setting>
            <setting name="AnchorRadius" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dConvertValueRatio" serializeAs="String">
                <value>25.4</value>
            </setting>
            <setting name="dHorizonalAnchorDistanceByBase" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="dBaseLength" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="dRootOffsetByX" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="dRootOffsetByY" serializeAs="String">
                <value>3.5</value>
            </setting>
            <setting name="C1_StartNo" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="C1_EndNo" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="C2_StartNo" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="C2_EndNo" serializeAs="String">
                <value>33</value>
            </setting>
            <setting name="C3_StartNo" serializeAs="String">
                <value>34</value>
            </setting>
            <setting name="C3_EndNo" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="C1_Xoffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="C1_Yoffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="C2_Xoffset" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="C2_Yoffset" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="C3_Xoffset" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="C3_Yoffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CStudent_Xoffset" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="CProblem_Yoffset" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="CStudent_Yoffset" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CProblem_Xoffset" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="CGroup_Xoffset" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="CGroup_Yoffset" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="PrintRows" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="PrintFont" serializeAs="String">
                <value>Times New Roman, 12pt</value>
            </setting>
            <setting name="PrintMargin" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="FilterRtf" serializeAs="String">
                <value>Định dạng RTF cho Word|*.rtf|Tất cả các tệp|*.*</value>
            </setting>
            <setting name="PrintRowsWithName" serializeAs="String">
                <value>23</value>
            </setting>
        </UI.Properties.Settings>
    </applicationSettings>
</configuration>